<header class="header">
    <nav class="nav">
      <a href="#" class="logo nav-link">Rick & Morty.</a>
      <ul class="nav-menu nav-menu_visible">
       <li class="nav-menu-item">
         <a href="#" class="nav-menu-link nav-link">HOME</a>
        </li>
       <li class="nav-menu-item">
         <a href="#" class="nav-menu-link nav-link">PERSONAJES</a>
        </li>
       <li class="nav-menu-item">
         <a href="#" class="nav-menu-link nav-link">FORMULARIO</a>
        </li>
      </ul>
    </nav>
  </header>
